<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Posts</title>
    <style>
      .media .avatar {
    width: 64px;
}
.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

    </style>
  </head>
  <body>
    <h2>Posts From Users!</h2>




    {% for task in tasks %}
    <div class="media">
      <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://vac.health.digital.gov.krd/resources/images/user_image.png"
        alt="Avatar">
      <div class="media-body" >
        <!-- <h5 class="mt-0 font-weight-bold blue-text">{{task.name}}</h5> -->
     
        <blockquote class="blockquote">
        
          <p class="mb-0">   {{task.desc}} </p>
          <footer class="blockquote-footer">Post By <cite title="Source Title">{{task.name}}</cite></footer>
          <a  class="btn btn-outline-danger btn-sm" href="delete/{{task.id}}">Delete</a>
      
        </blockquote>
      <!-- <a class="btn btn-danger" href="delete/{{task.id}}"   >Delete</a> -->
      
      
        </div>
       
      </div>
    </div>
  
    {% endfor %}
    <a href="../"><input type="button" value="Back" class="btn btn-primary" /></a>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>